{% extends 'base.html.twig' %}

{% block title %}Hello ProductController!{% endblock %}

{% block body %}
<p><a href="{{ path('products') }}">Retour en arrière</a></p>
<h1>Page produit</h1>
<p>Name : {{ product.name }}</p>
<p>Price : {{ product.price }}</p>
{% endblock %}