<!DOCTYPE html>
 
<html>
    <head>
        <title>{{ title }}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="stylesheet" href="{{ asset('styles/app.css') }}">
    </head>
    <body>
        <h1>{{ title }}</h1>
	  {# Cette ligne ci-dessous n'est présente que dans accueil.html.twig #}
        <p>{{ content }}</p>
    </body>
</html>