<!DOCTYPE html>
 
<html>
    <head>
        <title>{{ title }}</title>
    </head>
    <body>
        <h1>{{ title }}</h1>
	  {# Cette ligne ci-dessous n'est présente que dans accueil.html.twig #}
        <p>{{ content }}</p>
    </body>
</html>